<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2bf0b003a1.js" crossorigin="anonymous"></script>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: rgba(21, 38, 71, 1)">
        <div class="container" style="padding: 5px;">
          <h4 class="navbar-brand text-white" href="#">HiTech</h4>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#">Best Seller</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Hot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white">Discount</a>
              </li>
            </ul>
            <form class="d-flex col-5">
              <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
            <div class="icon">
              <a href=""><i class="fa-solid fa-user"></i></a>
              <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
              <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            </div>                
        </div>
    </nav>
    <main>
        <div class="card mb-3" style="max-width: 540px; margin: auto; margin-top: 20px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="img/img.png" class="img-fluid rounded-start" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Pendaftaram Sebagai Seller HiTech</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
        </div>

        <div class="col-8" style="margin: auto;">
            <form>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Id</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="id">
                  </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="address">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="phone">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Foto Toko</label>
                    <div class="col-sm-10">
                      <input type="file" class="form-control" id="shop_image" accept="image/*">
                    </div>
                </div>
                
                <button type="button" class="btn btn-primary" id="submit" onclick="create()">Register</button>
              </form>
        </div>

    </main>

    <footer>
      <div class="container3">
        <h4>Customer Service</h4>
        <p>Lorem ipsum sir ammet dolormu dewe antemono</p>
        <div class="flex3">
          <div class="ig">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </div>
          <div class="fb">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
          </div>
          <div class="yt">
            <a href=""><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </footer>
</body>
<script>
    const id = document.getElementById("id").value;
    const address = document.getElementById("address").value;
    const phone = document.getElementById("phone").value;
    const image = document.getElementById("shop_image").value;
    function create() {
        fetch("https://paa-account.herokuapp.com/api/v1/users/request",{
        method : 'POST',
        headers : {
            'Content-Type' : 'application/json',
            'Authorization' : 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwidXNlcm5hbWUiOiJDb2JhIGVkaXRlZDIiLCJlbWFpbCI6ImNvYmFAZ21haWwuY29tIiwiYWRkcmVzcyI6IkpsIE1hd2FyIiwiaWF0IjoxNjU2MTU2MTkzLCJleHAiOjE2NTYxNTk3OTN9.pgh1k8DXjPXy595bJOXs6LHKZoLKZ0x7CBO3sbKCWZA'
            // Authorization menyesuaikan dengan jwt login
        },
        body : JSON.stringify({
            user_id : document.getElementById("id").value,
            shop_address : document.getElementById("address").value,
            phone : document.getElementById("phone").value,                 
            shop_image : document.getElementById("shop_image").value
        })
    }).then(response =>response.json())
    .then(json =>console.log(json));
    }
</script>
</html>